= form_for @point do |f|
  - if @point.errors.any?
    #error_explanation
      %h2= "#{pluralize(@point.errors.count, "error")} prohibited this point from being saved:"
      %ul
        - @point.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :block
    = f.text_field :block
  .actions
    = f.submit 'Save'
