= form_for @block do |f|
  - if @block.errors.any?
    #error_explanation
      %h2= "#{pluralize(@block.errors.count, "error")} prohibited this block from being saved:"
      %ul
        - @block.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :takeaway
    = f.text_field :takeaway
  .field
    = f.label :canvas
    = f.text_field :canvas
  .actions
    = f.submit 'Save'
