%h1 Listing subjects

%table
  %tr
    %th Title
    %th Takeaway
    %th Canvas
    %th
    %th
    %th

  - @subjects.each do |subject|
    %tr
      %td= subject.title
      %td= subject.takeaway
      %td= subject.canvas
      %td= link_to 'Show', canvas_subject_path(@canvas, subject)
      %td= link_to 'Edit', edit_canvas_subject_path(@canvas, subject)
      %td= link_to 'Destroy', canvas_subject_path(@canvas, subject), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Subject', new_canvas_subject_path(@canvas)
