= content_for :inner_left_nav do
  = link_to edit_canvas_path(@canvas), class: "canvas-title" do
    %h1= @canvas.title
    
  .blocks
    = render "blocks/index", object: @blocks = @canvas.blocks
  
  - if @blocks.length < 9
    .row.add-block
      .col-xs-12
        = link_to new_block_path, class: "btn btn-primary" do
          %span.glyphicon.glyphicon-plus

.canvas
  = render "canvas_template"