= content_for :inner_left_nav do
  %h1= @canvas.title
  .edit-canvas
    = link_to 'Edit', edit_canvas_path(@canvas)
    \|
    = link_to 'Back', canvases_path
    
  .blocks
    = render "blocks/index", object: @blocks = @canvas.blocks

%p#notice= notice

%p
  %b Title:
  = @canvas.title
