= content_for :inner_left_nav do
  = link_to edit_canvas_path(@canvas), class: "canvas-title" do
    %h1= @canvas.title
    
  .blocks
    = render "blocks/index", object: @blocks = @canvas.blocks

.canvas
  = render "canvas_template"