.row.canvas.show-grid
  .col-xs-12
    .row
      .col-sm-3.first-column.slide
        = render partial: 'slide'
      .col-sm-3.second-column
        .row.column-within
          .col-xs-12.slide
            = render partial: 'slide'
        .row.column-within
          .col-xs-12.slide
            = render partial: 'slide'
      .col-sm-3.third-column
        .row.column-within
          .col-xs-12.slide
            = render partial: 'slide'
        .row.column-within
          .col-xs-12.slide
            = render partial: 'slide'
      .col-sm-3.fourth-column.slide
        = render partial: 'slide'
    .row
      .col-xs-6.fifth-column.slide
        = render partial: 'slide'
      .col-xs-6.sixth-column.slide
        = render partial: 'slide'