!!!
%html
  %head
    %title J2C
    = csrf_meta_tags
  %body
    = render partial: 'header'
    .container
      .row.off-canvas.off-canvas-left
        .col-xs-12.col-sm-3.sidebar-offcanvas#sidebar{role: 'navigation'}
          = render partial: 'left_nav'
        .col-xs-12.col-sm-9
          = yield
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true      