!!!
%html
  %head
    %title J2C
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{class: controller.controller_name}
    = render partial: 'layouts/header'
    .container
      .row.off-canvas.off-canvas-left
        .col-xs-12.col-sm-3.sidebar-offcanvas#sidebar{role: 'navigation'}
          = render partial: 'layouts/left_nav'
        .col-xs-12.col-sm-9
          = content_for?(:content) ? yield(:content) : yield

    = render ("myModal")
    = javascript_include_tag "application", "data-turbolinks-track" => true      